@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body{
    text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: rgb(190, 208, 223);
  font-size: large;
}

.btn{
    margin-top: 30px;
    border: 1.5px solid black;
    background: none;
    padding:8px 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: #141c20;
    border-radius: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}  

#butn{
    
    vertical-align: top;
    
}
.button1:hover{
    color: rgb(243, 242, 237);
}

#part1{
    border-bottom: 1px solid black ;  
}

#list{
    border-bottom: 1px solid black ;
    text-align: center;
    width: 60%;
    margin: auto;
}
